html {
    background-color: dimgray;
    color: lightsalmon;
    font-size: medium;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 600px;
    margin: auto;
    background-color: black;
    padding: 0 20px 20px 20px;
    border: 5px solid lightsalmon;
}


h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-shadow: 3px 3px 1px dimgray;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

.open-sans-text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}